In [ ]:
import csv
import sqlite3
import redis
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

# Exercise 16.2
with open('books.csv', 'r') as file:
    books = csv.DictReader(file)
    for book in books:
        print(book)

# Exercise 16.3
books = [
    {'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': 1960},
    {'title': 'Perdido Street Station', 'author': 'China Mi√©ville', 'year': 2000},
    {'title': 'Thud!', 'author': 'Terry Pratchett', 'year': 2005},
    {'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': 2007},
    {'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': 1992}
]

with open('books2.csv', 'w', newline='') as file:
    fieldnames = ['title', 'author', 'year']
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(books)

# Exercise 16.4
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')
conn.commit()
conn.close()

# Exercise 16.5
conn = sqlite3.connect('books.db')
c = conn.cursor()

with open('books2.csv', 'r') as file:
    books = csv.DictReader(file)
    for book in books:
        c.execute("INSERT INTO books VALUES (?, ?, ?)", (book['title'], book['author'], book['year']))

conn.commit()
conn.close()

# Exercise 16.6
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute("SELECT title FROM books ORDER BY title ASC")
for row in c.fetchall():
    print(row[0])
conn.close()

# Exercise 16.7
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute("SELECT * FROM books ORDER BY year ASC")
for row in c.fetchall():
    print(row)
conn.close()

# Exercise 16.8
engine = create_engine('sqlite:///books.db')
metadata = MetaData()

books = Table('books', metadata,
    Column('title', String),
    Column('author', String),
    Column('year', Integer),
)

with engine.connect() as conn:
    results = conn.execute(books.select().order_by(books.c.title))
    for row in results:
        print(row['title'])

# Exercise 16.9
r = redis.Redis()
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')
print(r.hgetall('test'))

# Exercise 16.10
print(r.hincrby('test', 'count', 1))